.confirm[@mailing_mail, :confirm]
  #{t(:mailing_mail_confirm_delete)}
  = t(@mailing_mail.mailable.class.to_s.downcase) + ": "
  %b= @mailing_mail.mailable.name
  = link_to_mail_delete(@mailing_mail) << " : "
  = link_to_function(t(:no_button), "crm.flick('#{dom_id(@mailing_mail, :confirm)}', 'remove')")
